<div id="<%= dom_id bull %>">
  <p>
    <strong>Name:</strong>
    <%= bull.name %>
  </p>

  <p>
    <strong>Born on:</strong>
    <%= bull.born_on %>
  </p>

  <p>
    <strong>Offspring count:</strong>
    <%= bull.offspring_count %>
  </p>

</div>
